.free-quote-form {
  background-color: #fff;
  padding: 15px 0;
  display: grid;
}
.show{ 
  display: block !important;
}
.free-quote-form .input-group-text {
  height: 100%;
}
.steps-wrapper {
  overflow-x: hidden;
  min-height: 85px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.steps-inner-wrapper {
  width: 200%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form-step {
  width: 50%;
  float: left;
  margin: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form-step.step2 {
  max-height: 0;
  overflow: hidden;
}

.steps-wrapper.next-step .steps-inner-wrapper {
  transform: translateX(-50%);
}

.steps-wrapper.next-step .steps-inner-wrapper .step2 {
  max-height: 1000px;
  overflow: visible;
}

.select2-container .select2-selection--single {
  height: unset !important;
}

.free-quote-form .select2-container {
  width: 100% !important;
}

.free-quote-form
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  background-color: transparent;
  font-size: 14px;
  line-height: 3em !important;
  padding: 0;
  padding-left: 12px;
  color: rgb(124, 124, 124);
}

.free-quote-form .error:not(.form-control) {
  display: none;
  width: 100%;
  font-size: 13px;
  color: #dc3545;
}

.free-quote-form
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}

.free-quote-form .form-control {
  border-left: none !important;
  border-radius: 0;
  height: 100%;
}

.free-quote-form .select2-selection {
  border-radius: 0 !important;
  border-color: #ddd !important;
  height: 3em !important;
}

.free-quote-form .btn-primary {
  border-radius: 0%;
  padding: 1em 2em;
}

.free-quote-form .input-group {
  height: 2.5em;
  margin-bottom: 2em;
}
.free-quote-form .form_header {
  font-size: 1.5em !important;
  font-weight: bolder !important;
  text-align: center;
}
#move_date::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 80%;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  background: none;
}
@media screen and (max-width: 767px) {
  .free-quote-form .form-row {
    display: block !important;
  }

}